services:
  - type: web
    name: bixso-middleware
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_VERSION
        value: 20.10.0
      - key: FIREBASE_SERVICE_ACCOUNT
        sync: false
